{% extends 'base.html.twig' %}

{% block title 'Update Pool ' ~ pool.name  %}

{% block body %}

<div class="bg-slate-700 h-[100vh] p-12">

    <h2 class="text-white">Update Pool: {{ pool.name }}</h2>

    <div class="form">

        {{ form(form) }}

    </div>

</div>
{% endblock %}