{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="w-full h-[100vh]" style="opacity: 0.5; background-image:url('{{ asset('images/background.png') }}'); background-repeat: no-repeat; background-attachment: fixed; background-position: center;"> 


</div>

{% endblock %}
