@tailwind base;
@tailwind components;
@tailwind utilities;


.pagination {
  span a{
    display: inline-block;
    width: 40px;
    padding: 5px;
    border-radius: 18px;
    background-color: rgb(33, 51, 70);
    text-align: center;
  }
}

@media (prefers-color-scheme: light) {
    .pagination {
        span a{
            color: white;
            background-color: rgb(37 99 235);
        }
    }
}

.pagination {
  .current {
    display: inline-block;
    width: 40px;
    padding: 5px;
    border-radius: 18px;
    background-color: rgb(96, 102, 110);
    text-align: center;
  }
}

@media (prefers-color-scheme: light) {
    .pagination {
        .current {
          color: white;
          background-color: rgb(30 58 138 );
        }
      }
}

.axil-btn {
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  padding-right: 10px;
  opacity: 0.95;
  text-align: center;
  align-items: center;
  transition: all .3s ease-in-out;
  position: relative;
  z-index: 1;    
  &.btn-borderd {
      border: grey;
      color: var(--color-dark);
      background-color: transparent;
      &:hover {
          background-color: #105823;
          color: white;
          border-color: blue;
      }
  }
  &.btn-fill-primary {
      background-color: #238636;
      color: white;
      overflow: hidden;        
      &::after {
          content: "";
          height: 300px;
          width: 300px;
          background-color: #2e9a40;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%) scale(0);
          transition: .5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
          z-index: -1;
      }
      &:hover {            
          &::after {
              transform: translateY(-50%) translateX(-50%) scale(1);
          }
      }        
  }
}