@tailwind base;
@tailwind components;
@tailwind utilities;


.pagination {
  span a{
    display: inline-block;
    width: 40px;
    padding: 5px;
    border-radius: 18px;
    background-color: rgb(33, 51, 70);
    text-align: center;
  }
}
.pagination {
  .current {
    display: inline-block;
    width: 40px;
    padding: 5px;
    border-radius: 18px;
    background-color: rgb(96, 102, 110);
    text-align: center;
  }
}